

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-size: 2em;
  margin: 0px;
  margin-top: 0.45em;
  margin-bottom: 0.45em;
}

button, .btn {
  background-color: rgb(70, 20, 70);
  border-radius: 2px;
  color: #fff;
}

button:hover {
  background-color: #0288d1;
}